{% extends "base.html" %}

{% block title %}
Lista de tarefas
{% endblock title %}
    
{% block content %}
<div class="d-flex justify-content-between">
  <h3>Minhas tarefas</h3>
  <a href="{% url 'create' %}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nova tarefa</a>
  
</div>
<hr>
  
  <div class="hero-unit">
    {% include "messages.html" %}
  </div>
  <div class="table-responsive">
  
    <table class="table table-sm table-bordered table-striped nowrap" id="table-list">
      <thead>
        <tr class="table-info">
          <th scope="col" style="width: 5%;">ID</th>
          <th scope="col" style="width: 25%;">Título</th>
          <th scope="col" style="width: 35%;">Descrição</th>
          <th scope="col" style="width: 10%;">Prazo</th>
          <th scope="col" style="width: 10%;">Finalizada</th>
          <th scope="col" style="width: 15%;" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td scope="row">{{object.pk}}</td>
            <td>{{object.title}}</td>
            <td>{{object.description}}</td>
            <td>{{object.due_date}}</td>
            <td>{{ object.completed }}</td>
            <td class="align-middle">
              <div class="d-flex justify-content-sm-around align-items-center align-self-center">
                <a href="{% url 'visualizar' object.pk %}" class="btn btn-light btn-sm" title="Ver detalhes"><i class="fa-solid fa-eye"></i></a>
                {% if not object.completed %}
                  <a href="{% url 'concluir' object.pk %}" class="btn btn-success btn-sm" title="Concluir"><i class="fa-solid fa-check"></i></a>
                {% endif %}
                <a href="{% url 'editar' object.pk %}" class="btn btn-primary btn-sm" title="Editar"><i class="fa-solid fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmModal" title="Excluir"><i class="fa-solid fa-trash-can"></i></a>
                {% include "confirm.html" with title=object.title id=object.pk url_name="excluir" %}
              </div>
              
            </td>
          </tr>
          {% empty %}
          <tr><td colspan="5">Nenhum campo cadastrado.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock content %}
{% block scripts %}
{% comment %} <script>
  $(document).ready(function()
  {
    $("#table-list").DataTable({
      initComplete: function () {
        this.api()
            .columns()
            .every(function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex($(this).val());

                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                    });

                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
            });
    },
    });
  });
</script> {% endcomment %}
{% endblock scripts %}

